h1{
	color: white;
	font: Raleway-Bold;
}
h4{
	color: white;
	font: Raleway-Bold;
}
a{
	color: white;
	font: Raleway-Bold;
}
p{
	margin-top: 20px;
	font-size: 20pt;
	font-style: Lato-Light
}


main.container {
  width: auto;
  min-height: 820px;
  padding: 0 15px;
}

.footer {
    min-height: 100px;
	bottom: 0;
	left: 0;
  	background-color: #f5f5f5;
}

.round {
    height: 100px;
    width: 100px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid grey; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }