{% extends "admin-panel_base.html" %}
{% block content %}
<h1 style="color: black;">Админ панель. Закусочная.</h1>
<a class="btn btn-danger" href="/admin/eatery/add_dish">Добавить блюдо</a>
<div class="row">
    {% for item in dish%}
    <div class="col-md6 border rounded" style="margin: 10px;">
        <div class="card" style="width: 18rem;">
            <img src={{ item.photo }} class="card-img-top" alt={{ item.photo }}>
            <div class="card-body">
                <h5 class="card-title" style="font-size: 36px;">{{ item.name }}</h5>
                <p class="card-text" style="font-size: 16px;">{{ item.short_description}}</p>
                <a href="#" class="btn btn-primary">Изменить</a>
                <a href="#" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}