<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar dark bg-dark">
        <h1>Мясная лавка Большого Дейва</h1>
        <h4>
            <a class="btn btn-danger" href="/eatery">Закусочная</a>
            <a class="btn btn-secondary" href="/profile">Аккаунт</a>
        </h4>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">©M4SK 2020. Все герои, места, события вымышленны, любые совпадения с реальностью случайны.</span>
    </div>
</footer>
</body>
</html>