{% extends "base_eastery.html" %}
{% block content %}
<p align="left">Хэй, привет! Впервые здесь? Давай я тебе объясню, что к чему. Я владелец этой лавки, Большой Дейв. Как думаешь, что
    будет, если объединить мотомастерскую и закусочную-барбекю? Верно! Получится моя лавка. Ты в любой
    момент можешь приехать сюда на своем мотоцикле, и пока ты будешь есть свой стэйк, его починят и доведут до
    идеала. Круто же да? На этом сайте ты можешь ознакомиться с видами мотоциклов, с которыми мы работаем, а также с
    меню закусочной.</p>
{% endblock %}